.imageMasonryGallery {
  columns: 30rem;
  column-gap: 1rem;
}

.lightBox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.96);
  overflow: hidden;
}

.lightBoxImg > div:first-child {
  height: 100vh;
}
