.imageMasonryGallery {
  columns: 30rem;
  column-gap: 1rem;
}

.lightBox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  background: rgba(45, 57, 57, 0.99);
  overflow: hidden;
}

.lightBoxImg > div:first-child {
  height: 100vh;
}

.masonryImage:hover {
  cursor: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath cx='70' cy='70' r='67' stroke='black' stroke-width='1.2857142857142856' d='M29.357 15A14.357 14.357 0 0 1 15 29.357A14.357 14.357 0 0 1 0.643 15A14.357 14.357 0 0 1 29.357 15z'/%3E%3Cpath d='M15 4.714L15 25.286' stroke='black' stroke-width='1.0714285714285714' stroke-linecap='round'/%3E%3Cpath d='M25.286 15L4.714 15' stroke='black' stroke-width='1.0714285714285714' stroke-linecap='round'/%3E%3C/svg%3E") 20 20, pointer;
  /* cursor: zoom-in; */
}

.lightBoxImg:hover {
    cursor: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath cx='99' cy='99' r='67' stroke='black' stroke-width='1.2121212121212122' d='M33.535 20A13.535 13.535 0 0 1 20 33.535A13.535 13.535 0 0 1 6.465 20A13.535 13.535 0 0 1 33.535 20z'/%3E%3Cpath d='M27.475 12.525L12.525 27.475' stroke='black' stroke-width='1.0101010101010102' stroke-linecap='round'/%3E%3Cpath d='M27.475 27.475L12.525 12.525' stroke='black' stroke-width='1.0101010101010102' stroke-linecap='round'/%3E%3C/svg%3E") 29 29, pointer;
}
